<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
  
</head>

<body>
  <div class="wrap">
    <div class="header banner">
      <div class="banner-content">
        <p>Here's</p>
        <h1 class="name">JOANNE</h1>
        <p class="italic">Founder of “XXXD Official’’<br> & Graphic Designer</p>
        <ul class="social">
          <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/behance.svg" alt="behance"></a></li>
          <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/facebook.svg" alt="facebook"></a></li>
          <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/instagram.svg" alt="instagram"></a></li>
          <li><a href=""><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/youtube.svg" alt="youtube"></a></li>
        </ul>
      </div>
    </div>

    <%- contents %>

    <div class="footer">
      <div class="container">
        <h2 class="italic">Contact</h2>
        <span class="italic">Mail：xxxd@hexschool.com</span>
        <br>
        <span class="italic">Phone Number：0910123456</span>
      </div>
    </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./assets/js/all.js"></script>
  
  <script>
    AOS.init();
  </script>
</body>

</html>
